<%require 'json' %>

<div class="large-container center-block">

  <p id="notice"><%= notice %></p>
<h1> Almacenes</h1>
<div class="row">

        <%#= tag.id id:'dinamic-table',data: {lists: @result} %>
        <stock-index :stocks="<%=@stocks.to_json%>"></stock-index>

</div>

</div>

