<div class="large-container center-block">

  <div class="container">
   <div class="card">

     <div class="card-head">
       <div class="card-header">
         <h1>Pedido</h1>
       </div>
     </div>

     <div class="card-body">
       <div class="row">
         <div class="form-group">
           <label> Cantidad:</label>
           <div><%= @order.Amount %></div>
         </div>
       </div>

       <div class="row">
         <div class="form-group">
           <label> Descripcion:</label>
           <div><%= @order.Description %></div>
         </div>
       </div>

       <div class="row">
         <div class="form-group">
         <%=link_to 'Eliminar', show_order_path(id: @order), method: :delete,data:{confirm:"Esta seguro que va a eliminar este pedido?"} %>
         </div>
       </div>

     </div>
   </div>
  </div>

</div>