<div class="large-container center-block">
  <div class="container">
    <table border="1" class="table table-striped table-bordered" style="width: 1000px;">
      <thead>
      <tr>
        <th>Cantidad</th>
        <th>Descripcion</th>
        <th>Acciones</th>
      </tr>
      </thead>
      <tbody>
      <%@orders.each do |order| %>
        <tr>
          <td><%=order.Amount %></td>
          <td><%=order.Description %></td>
          <td><%=link_to 'Eliminar', show_order_path(id: order), method: :delete,data:{confirm:"Esta seguro que va a eliminar este pedido?"} %></td>
        </tr>
      <%end %>
      </tbody>
    </table>
  </div>

</div>